# https://docs.nsclient.org/0.4.4/reference/windows/CheckSystem.html#CheckSystem.check_service
# !ARG1=Service!ARG2=critical state
define command{
	command_name	check_nrpe_check_service_state
	command_line	/usr/lib/nagios/plugins/check_nrpe -H $HOSTADDRESS$ -p {{ nagios_config_commands_nrpe_port }} -t 30 -c check_service -a service="$ARG1$" "crit=state = '$ARG2$'"
}