# Generic host definition template - This is NOT a real host, just a template!

define host{
	{% for l in nagios_config_generic_host_lines %}
	{{ l }}
	{% endfor %}
        register                        0       ; DONT REGISTER THIS DEFINITION - ITS NOT A REAL HOST, JUST A TEMPLATE!
        }
